<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Window</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Admin Dashboard</h1>
        <div class="tabs">
            <div class="tab">
                <a href="insert_non_admin_user.html">Register</a>
            </div>
            <div class="tab">
                <a href="insert_kafe_records.html">Order coffee</a>
            </div>
            <div class="tab">
                <a href="overview.html">Overview</a>
            </div>
            <div class="tab">
                <a href="jobs.html">Jobs</a>
            </div>
        </div>
    </div>
</body>
</html>
