<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <div class="form-container">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter Username">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter Email">
            <button>Submit</button>
        </div>

        <div class="tabs">
            <div class="tab">
                <a href="index.html">Back to Main</a>
            </div>
            <div class="tab">
                <a href="insert_kafe_records.html">Coffee order</a>
            </div>
        </div>
    </div>
</body>
</html>
