<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert Kafe Records</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Coffee order</h1>
        <div class="form-container">
            <label for="kafe_name">Kafe Name</label>
            <input type="text" id="kafe_name" placeholder="Enter Kafe Name">
            <label for="location">Location</label>
            <input type="text" id="location" placeholder="Enter Location">
            <button>Submit</button>
        </div>

        <div class="tabs">
            <div class="tab">
                <a href="index.html">Back to Main</a>
            </div>
            <div class="tab">
                <a href="insert_non_admin_user.html">Register</a>
            </div>
        </div>
    </div>
</body>
</html>
